.btn-set{
	display: inline-block;
	vertical-align: top;
	background: $white;
	color: $btn-set-color;
	text-transform: uppercase;
	font-size: $base-font-size+2;
	font-weight: 700;
	padding: 9px 11px 10px;
	.icon{
		text-transform: none;
		font-weight: normal;
		vertical-align: top;
		font-size: 22px;
		margin: 0 10px -2px 0;
	}
	&:hover{
		background-color: $base-button-hover;
		color: $btn-set-color-active;
	}
}
.btn-cancel{
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	color: $btn-cancel-color;
	font-size: $base-font-size + 2;
	font-weight: 700;
	padding: 13px 0 12px;
	&:before{
		content: '\78';
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		font-family: 'gowatchit-iconfont';
		vertical-align: top;
		display: inline-block;
		margin: -2px 3px -4px 0;
		font-size: 21px;
		line-height: 1;
	}
}
.btn-add{
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	color: $btn-add-color;
	font-size: $base-font-size + 2;
	font-weight: 700;
	background-color: $btn-add-bg;
	padding: 12px 17px 11px 11px;
	&:before{
		content: '\61';
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		font-family: 'gowatchit-iconfont';
		display: inline-block;
		vertical-align: top;
		font-size: 24px;
		margin: -8px 10px -7px 0;
	}
	&:hover{
		background-color: $btn-add-bg-active;
		color: $btn-add-color-active;
	}
}