// block must contain floats? extend this
%clearfix:before,
%clearfix:after {
  content: ' ';
  display: table;
}

%clearfix:after {
  clear: both;
}

// apply shadow to text over an image
%text-on-image {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

%ul-menu {
  display: block;
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline-block;
  }
}