
/*
$filter-background-color: $GWIGraphite;
$filter-text-color: $GWIMilk;
$filter-text-emphasized-color: $GWIWhite;
$filter-accent-color: $GWILightOrange;
*/

@import 'variables';
@import 'mixins';
@import 'classes';

section > .filter {
  padding: 10px 0;
  
  nav.main {
    $nav-height: 30px;
    $active-underline-height: 4px;
    
    position: relative;
    padding: 0 60px;
    height: $nav-height;
    line-height: $nav-height - $active-underline-height;
    @extend %clearfix;
    
    ul.tab-buttons {
      float: left;
      @extend %ul-menu;
      height: $nav-height;
      margin: 0; padding: 0;
      
      > li {
        margin: 0;
        
        a {
          width: 30px;
          margin: 24px;
          
          @include anchor($filter-text-color, $filter-text-emphasized-color, none, none);
        }
        
        &.active {
          border-bottom: 4px solid $filter-accent-color;
          a {
            @include anchor($filter-text-emphasized-color, $filter-text-emphasized-color, none, none);
          }
        }
      }
    }
  }
  
  .form {
    position: relative;
    clear: both;
    padding: 0 60px;
    background-color: $filter-background-color;
    color: $filter-text-color;
      
    .actions {
      margin: 0;
      padding: 6px 0 0;
      line-height: 2em;
    }
    
    .check-list {
      border-left: 1px solid $page-background-color;
    }
  }
}
