/*
$filter-background-color: $GWIGraphite;
$filter-text-color: $GWIMilk;
$filter-text-emphasized-color: $GWIWhite;
$filter-accent-color: $GWILightOrange;
*/
/* line 3, C:/Projects/GoWatchIt/billydee/mockup/css/classes */
section > .filter nav.main:before, section > .filter nav.main:after {
  content: ' ';
  display: table; }

/* line 8, C:/Projects/GoWatchIt/billydee/mockup/css/classes */
section > .filter nav.main:after {
  clear: both; }

/* line 17, C:/Projects/GoWatchIt/billydee/mockup/css/classes */
section > .filter nav.main ul.tab-buttons {
  display: block;
  list-style-type: none;
  padding: 0; }
  /* line 22, C:/Projects/GoWatchIt/billydee/mockup/css/classes */
  section > .filter nav.main ul.tab-buttons li {
    display: inline-block; }

/* line 13, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
section > .filter {
  padding: 10px 0; }
  /* line 16, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
  section > .filter nav.main {
    position: relative;
    padding: 0 60px;
    height: 30px;
    line-height: 26px; }
    /* line 26, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
    section > .filter nav.main ul.tab-buttons {
      float: left;
      height: 30px;
      margin: 0;
      padding: 0; }
      /* line 32, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
      section > .filter nav.main ul.tab-buttons > li {
        margin: 0; }
        /* line 35, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
        section > .filter nav.main ul.tab-buttons > li a {
          width: 30px;
          margin: 24px; }
          /* line 56, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
          section > .filter nav.main ul.tab-buttons > li a, section > .filter nav.main ul.tab-buttons > li a:link {
            color: #ccc;
            text-decoration: none; }
          /* line 61, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
          section > .filter nav.main ul.tab-buttons > li a:hover {
            color: #fff;
            text-decoration: none; }
        /* line 42, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
        section > .filter nav.main ul.tab-buttons > li.active {
          border-bottom: 4px solid #f26a46; }
          /* line 56, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
          section > .filter nav.main ul.tab-buttons > li.active a, section > .filter nav.main ul.tab-buttons > li.active a:link {
            color: #fff;
            text-decoration: none; }
          /* line 61, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
          section > .filter nav.main ul.tab-buttons > li.active a:hover {
            color: #fff;
            text-decoration: none; }
  /* line 52, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
  section > .filter .form {
    position: relative;
    clear: both;
    padding: 0 60px;
    background-color: #2e2e2e;
    color: #ccc; }
    /* line 59, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
    section > .filter .form .actions {
      margin: 0;
      padding: 6px 0 0;
      line-height: 2em; }
    /* line 65, C:/Projects/GoWatchIt/billydee/mockup/css/filter.scss */
    section > .filter .form .check-list {
      border-left: 1px solid #606060; }

/*# sourceMappingURL=filter.css.map */