@import 'variables';
@import 'mixins';
@import 'classes';

footer {
  position: relative;
  z-index: 2;
  display: block;
  padding-bottom: 1em;
  @include responsive(lg) { 
    display: table;
    width: 100%;
    padding-bottom: 50px;
  }
  font-size: $font-size * 4/5;
  border-top: 2px solid $link-color;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.33);
  background-color: $footer-background-color;
  color: $footer-text-color;
  
  p {
    margin: 0.5;
  }

  a {
    white-space: nowrap;
    @include anchor($footer-link-color, $footer-link-hover-color, none, underline);
  }

  .row {
    @include responsive(lg) {
      display: table-row;
    }
    
    .cell {
      display: block;
      padding: 0 30px;
      @include responsive(lg) {
        display: table-cell;
        padding-bottom: 30px;
        &:last-child {
          text-align: right;
        }
      }
      
      // Logo
      &.logo {
        margin-top: .8em;
        @include responsive(lg) {
          width: 210px;
          padding-left: 30px;
          margin-top: 0;
        }
        img { 
          margin: .5em 0 0 0; 
        }
      }
      
      // Large block of text in the middle - showing it only on wide screens
      &.about {
        display: none;
        @include responsive(lg) {
          display: table-cell;
          max-width: 350px
        }
      }
      
      // Menu on the right
      &.menu {
        padding-left: 30px;
        padding-right: 30px;
        
        ul {
          margin: 1.25em -0.3em 1.5em 0;
          padding: 0;
          line-height: 2em;

          li {
            display: inline-block;
            margin: 0 0.3em;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}