%size-16x16 {
  width: 16px;
  height: 16px;
}

%size-16x24 {
  width: 16px;
  height: 24px;
}

.icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: -3px;
  
  &.icon-eye {
    background-image: url(../images/icon-eye.png);
    @extend %size-16x16;
  }
  
  &.icon-remove {
    background-image: url(../images/icon-remove-normal.png);
    @extend %size-16x16;
  }
  
  &.icon-grip {
    background-image: url(../images/icon-grip-normal.png);
    @extend %size-16x24;
    vertical-align: -8px;
    margin-right: 8px;
  }
}

.active {
  .icon-grip, &.icon-grip {
    background-image: url(../images/icon-grip-acive.png);
  }
  
  .icon-remove, &.icon-remove {
    background-image: url(../images/icon-remove-active.png);
  }
}