/* line 5, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
section.list {
  position: relative;
  margin: 20px 0;
  color: #fff; }
  /* line 8, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list:first-of-type {
    margin-top: 30px; }
  /* line 10, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list > .container {
    position: relative;
    padding: 20px 0 0;
    width: 95%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      section.list > .container {
        width: 648px; } }
    @media (min-width: 992px) {
      section.list > .container {
        width: 872px; } }
    @media (min-width: 1200px) {
      section.list > .container {
        width: 1080px; } }
    @media (min-width: 1380px) {
      section.list > .container {
        width: 1260px; } }
  /* line 24, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list + section.list:before {
    position: absolute;
    content: '';
    top: -2em;
    left: 60px;
    right: 60px;
    height: 0;
    border-top: 1px solid #868686; }
  /* line 34, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list a.more {
    position: absolute;
    top: -1.33em;
    right: 25px;
    font-size: 15px;
    line-height: 1; }
  /* line 42, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list ul.items {
    display: block;
    list-style-type: none;
    padding: 0 10px;
    margin: 0 5px;
    font-size: 0; }
    /* line 49, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list ul.items > li {
      position: relative;
      display: inline-block;
      margin: 0 10px 20px;
      font-size: 15px;
      /*
      .drawer {
        position: absolute;
        display: none;
        left: 0;
        width: 100%;
        height: $drawer-height;
        background: $drawer-background-color;
        
        .details {
          background: $drawer-details-background-color;
        }
      }
      
      &.expanded {
        margin-bottom: $drawer-height;
        .drawer {
          display: none;
        }
      }
      */ }
      @media (max-width: 767px) {
        section.list ul.items > li {
          width: 28%; } }
      @media (min-width: 768px) {
        section.list ul.items > li {
          width: 134px; } }
      @media (min-width: 992px) {
        section.list ul.items > li {
          width: 148px; } }
      @media (min-width: 1200px) {
        section.list ul.items > li {
          width: 155px; } }
      @media (min-width: 1380px) {
        section.list ul.items > li {
          width: 185px; } }
      /* line 61, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
      section.list ul.items > li img {
        width: 100%; }
      /* line 65, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
      section.list ul.items > li > figure {
        display: block;
        overflow: hidden;
        width: auto;
        padding: 0;
        margin: 0; }
        /* line 56, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
        section.list ul.items > li > figure a, section.list ul.items > li > figure a:link {
          color: #fff;
          text-decoration: none; }
        /* line 61, C:/Projects/GoWatchIt/billydee/mockup/css/mixins */
        section.list ul.items > li > figure a:hover {
          color: #fff;
          text-decoration: none; }
        /* line 77, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
        section.list ul.items > li > figure .info {
          display: block;
          padding: 6px 8px;
          height: 70px;
          border-top: 1px solid #606060;
          border-radius: 0 0 5px 5px;
          background: #2e2e2e; }
          /* line 85, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
          section.list ul.items > li > figure .info .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          /* line 91, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
          section.list ul.items > li > figure .info .year {
            color: #ccc;
            font-size: 11px;
            line-height: 11px; }
          /* line 97, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
          section.list ul.items > li > figure .info .popularity {
            color: #ccc;
            line-height: 26px; }
            /* line 101, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
            section.list ul.items > li > figure .info .popularity:before {
              display: inline-block;
              content: attr(data-count);
              background: #e84e24;
              height: 20px;
              min-width: 10px;
              padding: 0 5px;
              line-height: 20px;
              border-radius: 10px;
              font-size: 11px;
              vertical-align: 1px;
              text-align: center;
              margin-right: 0.3em; }
  /* line 144, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list.slider ul.items {
    white-space: nowrap;
    overflow: hidden; }
    /* line 149, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list.slider ul.items:before, section.list.slider ul.items:after {
      position: absolute;
      display: block;
      z-index: 1;
      content: '';
      top: 0;
      width: 25px;
      height: 100%;
      vertical-align: top; }
    /* line 159, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list.slider ul.items:before {
      left: 0;
      background: linear-gradient(to right, #606060 12px, transparent); }
    /* line 163, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list.slider ul.items:after {
      right: 0;
      background: linear-gradient(to left, #606060 12px, transparent); }
  /* line 170, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list.slider a.slider-prev, section.list.slider a.slider-next {
    position: absolute;
    display: block;
    top: 45%;
    width: 10px;
    height: 17px;
    z-index: 2;
    transition: opacity 0.25s;
    opacity: 1; }
    /* line 180, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list.slider a.slider-prev.disabled, section.list.slider a.slider-next.disabled {
      opacity: 0;
      pointer-events: none; }
  /* line 185, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list.slider a.slider-prev {
    left: 0;
    background: url(../images/list-slider-left.png) no-repeat center center; }
  /* line 189, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list.slider a.slider-next {
    right: 0;
    background: url(../images/list-slider-right.png) no-repeat center center; }
  @media (max-width: 767px) {
    section.list.slider.collections ul.items li {
      width: 46.5%; } }
  @media (min-width: 768px) {
    section.list.slider.collections ul.items li {
      width: 47.5%; } }
  @media (min-width: 992px) {
    section.list.slider.collections ul.items li {
      width: 260px; } }
  @media (min-width: 1200px) {
    section.list.slider.collections ul.items li {
      width: 330px; } }
  @media (min-width: 1380px) {
    section.list.slider.collections ul.items li {
      width: 390px; } }
  /* line 204, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
  section.list.slider.collections ul.items li .info {
    border-top: 1px solid #606060;
    border-radius: 0 0 5px 5px;
    height: 50px; }
    /* line 209, C:/Projects/GoWatchIt/billydee/mockup/css/poster-lists.scss */
    section.list.slider.collections ul.items li .info .title {
      display: block;
      line-height: 34px;
      text-align: center; }

/*# sourceMappingURL=poster-lists.css.map */