@import 'reset';
@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'classes';
@import 'icons';
@import 'forms';

// Structure
body {
  margin: 0;
  background-color: $body-background-color;
  font: normal #{$font-size}/#{$line-height} $font-family;
  
  #container {
    position: relative;
    margin: 0 auto;
    max-width: 1380px;
    background: $page-background-color;
    box-shadow: 0 0 10px rgba(black, 0.25);
    color: #ccc;
  }
}

* {
  box-sizing: border-box;
}

a {
  @include anchor($link-color, $link-hover-color, none, underline);
}

/* HELPERS */
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

.pull-left { float: left }
.pull-center { float: center }
.pull-right { float: right }

hr {
  border-top: 1px solid #454545;
  
  &.shortest {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2 {
  margin: 2em 0 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: $font-size*5/3;
  line-height: $font-size*6/3;
}

h2 {
  font-size: $font-size*4/3;
  line-height: $font-size*5/3;
}

#main {
  position: relative;
  z-index: 1;
}

/* COMMON */
a.poster {
  position: relative; 
  display: inline-block;
  &:hover:after {
    position: absolute; 
    content: '';
    z-index: 1;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: url(../images/trailer-overlay.png) no-repeat center center;
  }
}

.light-panel {
  position: relative;
  background: $page-background-color-light;
  color: $page-text-color-light;
  
  .slogan {
    color: $link-color;
    font-size: $font-size * 3/2;
    font-weight: bold;
  }
}

.btn {
  &.btn-gwi-default {
    background: $button-default-background-color;
    border-color: $button-default-border-color;
    color: $button-default-text-color;
  }
  
  &.btn-gwi-primary {
    background: $button-primary-background-color;
    border-color: $button-primary-border-color;
    color: $button-primary-text-color;
  }
  &.btn-gwi-default, &.btn-gwi-primary {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size * 4/5;
    line-height: 1.75;
  }
}

.collage {
  background: url(../temp/about-3.jpg) no-repeat center center / cover;  
  padding: 40px 0 60px;
  color: #fff;
}

@import 'header';
@import 'poster-lists';
@import 'tables';
@import 'filter';
@import 'footer';
