.category-bar{
	padding: 15px 0 0;
	overflow: hidden;
	@media (max-width:($screen-sm - 1)){
		display: none;
	}
	.item{
		float: left;
		padding: 0 8px 8px 0;
		a{
			float: left;
			color: $white-color;
			-webkit-border-radius: 7px;
					border-radius: 7px;
			position: relative;
			border: solid 1px $alert-item-border;
			font: 13px/18px $proxima-nova-bold;
			padding: 4px 9px;
			&:hover,
			&.active{
				text-decoration: none;
				background: $orange-color;
				border: solid 1px $orange-color;
			}
		}
	}
}