/* episodes */
.episodes{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;

	> li{
		display: inline-block;
		vertical-align: top;
		width: 205px;
		padding: 10px;
		font: 14px/19px $proxima-nova-bold;

		> a{
			cursor: pointer;
			color: $episodes-color;
			position: relative;
			z-index: 1;
			display: block;

			&:hover{
				color: darken($episodes-color, 15%);
			}
			> figure{
				>img{
					width: 100%;
					display: block;
					margin-bottom: 1px;
				}
				>figcaption{
					background-color: $episodes-bg;
					border-radius: 0 0 ($border-radius-base - 1) ($border-radius-base - 1);
					padding: 5px 8px 12px;
					min-height: 55px;
				}
			}
		}
		&.active{
			margin-bottom: 259px;

			> a:before{
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				border: solid transparent;
				border-width: 0 10px 6px;
				border-bottom-color: $info-megamenu-header-bg;
				margin: 5px 0 0 -10px;
			}
			@media (max-width: $grid-float-breakpoint-max) {
				margin-bottom: 0;
			}
			@media (max-width: $screen-xs) {
				margin-bottom: 0;
			}
		}
		@media (max-width: $screen-md-max) {
			width: 20%;
		}
		@media (max-width: $screen-sm-max) {
			width: 25%;
		}
		@media (max-width: $grid-float-breakpoint-max) {
			width: 33.33%;
			padding: 0 3px 6px;
		}
	}
	.info-megamenu{
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 11px;
		z-index: 30;
		@media (max-width:($screen-sm - 1)){
			display: none;
		}
	}
	@media (max-width: $screen-md-max) {
		padding-left: 0;
		padding-right: 0;
		margin-left: -10px;
		margin-right: -10px;
	}
}