/* flex-carousel */
.flex-carousel{
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	@media (max-width:($screen-sm - 1)){
		margin-bottom: 10px;
	}
	.slides{
		list-style: none;
		margin: auto;
		padding: 0;
		overflow: hidden;

		> li{
			float: left;
			margin-right: 20px;
			background-color: $flex-carousel-bg;
			text-align: center;
			color: $flex-carousel-color1;
			font-family: $proxima-nova-semibold;
			border-radius: 0 0 ($border-radius-base - 1) ($border-radius-base - 1);
			font-size: 14px;
			line-height: 24px;

			> a{
				color: $flex-carousel-color1;

				&:hover{
					text-decoration: none;
					color: darken($flex-carousel-color1, 20%);
					figcaption strong{
						color: darken($headline-color, 20%);
					}
				}
			}
			.btn-add{
				@media (min-width:($screen-sm)){
					display: none;
				}
				display: block;
				-webkit-border-radius: 0 0 5px 5px;
						border-radius: 0 0 5px 5px;
				color: $white-color;
				font-size: 10px;
				line-height: 12px;
				padding: 4px 2px 3px;
			}
		}
		figure{
			margin: 0;
		}
		.img{
			border-bottom: 1px solid #60605c;
			overflow: hidden;
			position: relative;

			img{
				vertical-align: top;
				width: 100%;
			}
			&:hover .mask{top: 0;}
			a{cursor: pointer;}
			@media (max-width:($screen-sm - 1)){
				border: 0;
			}
		}
		.mask{
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 11px 8px;
			color: #fff;
			font-size: 20px;
			line-height: 24px;
			background-image: url(#{$base-images-dir}ico-carousel-mask.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-color: $gray-light;
			-webkit-transition: top .3s;
			transition: top .3s;

			&.mask-green{background-color: $mask-color-green;}
			&.mask-red{background-color: $mask-color-red;}
			&.mask-pink{background-color: $mask-color-pink;}
			&.mask-blue{background-color: $mask-color-blue;}
		}
		figcaption{
			padding: 13px 7px 12px;

			strong{
				display: block;
				white-space: nowrap;
				overflow: hidden;
				position: relative;
				font-weight: normal;
				font-family: $proxima-nova-bold;

				&:after{
					clear: both;
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 25px;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTJlMmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(left,  rgba(46,46,44,0) 0%, rgba(46,46,44,1) 100%);
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,46,44,0)), color-stop(100%,rgba(46,46,44,1)));
					background: -webkit-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
					background: -o-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
					background: -ms-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
					background: linear-gradient(to right,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
				}
			}
		}
		.badge{
			margin: -1px 3px -1px 0;
		}
		.year{
			display: block;
			margin-bottom: 6px;
		}
		&:not(.mobile-slide){
			@media (max-width: 1024px){
				margin-left: 0 !important;
				width: auto !important;
				white-space: nowrap;
				overflow: auto !important;
				font-size: 0;
				line-height: 0;
				margin-right: -20px;
			}
		}
		&:not(.mobile-slide){
			@media (max-width: 767px){
				margin-left: 0 !important;
				width: auto !important;
				white-space: nowrap;
				overflow: auto !important;
				font-size: 0;
				line-height: 0;
				margin-right: 0;
				white-space: normal !important;
			}
		}
		&:not(.mobile-slide){
			> li{
				@media (max-width: 1024px){
					display: inline-block !important;
					vertical-align: top;
					float: none !important;
				}
				@media (max-width: 767px){
					display: inline-block !important;
					vertical-align: top;
					float: none !important;
					margin: 0 !important;
				}
			}
			> li.hidden-xs{
				@media (max-width: 767px){
					display: none !important;
				}
			}
		}
	}
	.flex-direction-nav{
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;

		a{
			position: absolute;
			top: 0;
			bottom: 50px;
			width: 35px;

			&:before{
				content: '';
				position: absolute;
				top: 50%;
				background: url(#{$base-images-dir}arrows-flex-carousel.png) no-repeat;
				width: 10px;
				height: 17px;
				margin-top: -8.5px;
			}
			&.flex-prev{
				left: -35px;

				&:before{
					left: 10px;
				}
				&:hover{
					&:before{
						background-position: 0 -17px;
					}
				}
			}
			&.flex-next{
				right: -35px;

				&:before{
					right: 10px;
					background-position: -10px 0;
				}
				&:hover{
					&:before{
						background-position: -10px -17px;
					}
				}
				&:hover{background-position: -10px -17px;}
			}
			&.flex-disabled{display: none;}
		}
	}
	.carousel-3items{
		@media (max-width:($screen-sm - 1)){
			margin: 0 -10px;
			figure figcaption{
				padding: 10px;
				font-size: 11px;
				line-height: 15px;
			}
		}
		.slides > li{
			width: 390px;
			@media (max-width:($screen-sm - 1)){
				-webkit-border-radius: 0;
						border-radius: 0;
			}
		}
	}
	.carousel-6items{
		@media (max-width:($screen-sm - 1)){
			width: 297px;
			margin: 0 auto 31px;
		}
		.flex-direction-nav a{bottom: 58px;}
		.slides{
			@media (max-width:($screen-sm - 1)){
				white-space: nowrap !important;
			}
			> li{
				width: 185px;
				text-align: left;
				font: 10px/12px $font-family-sans-serif;
				color: $flex-carousel-color2;
				@media (max-width:($screen-sm - 1)){
					width: 93px !important;
					margin: 0 3px !important;
				}
			}
			figcaption{
				padding-top: 6px;
				padding-bottom: 10px;
				color: $flex-carousel-color2;
				@media (max-width:($screen-sm - 1)){
					padding: 5px 4px 3px;
				}
				> a{
					color: $flex-carousel-color2;
					&:focus,
					&:active,
					&:hover{text-decoration: none;}
				}
				strong{
					color: $headline-color;
					font-size: 14px;
					line-height: 18px;
					@media (max-width:($screen-sm - 1)){
						font-size: 10px;
						line-height: 12px;
						margin: 0 0 1px;
					}
				}
				.year{
					@media (max-width:($screen-sm - 1)){
						font-size: 10px;
						line-height: 12px;
						margin: 0;
					}
				}
				.clearfix{
					@media (max-width:($screen-sm - 1)){
						display: none;
					}
				}
			}
		}
	}
	&.carousel-4items{
		.slides{
			> li{
				margin-right: 10px;
				width: 300px;
				background: none;
				text-align: left;
				font: 10px/12px $font-family-sans-serif;

				>a{
					color: $white-color;

					&:hover{
						color: $orange-color;
					}
				}
			}
			figcaption{
				padding: 7px 0;
				@include text-overflow;
			}
		}
		.flex-direction-nav a{bottom: 26px;}
	}
	&.movie-details-carousel.carousel-4items{
		@media (max-width:($screen-sm - 1)){
			margin: 0 auto 20px;
			width: 320px !important;
			overflow: hidden;
			.slides{
				> li{
					width: 320px !important;
				}
			}
			.flex-direction-nav{
				a{
					&.flex-prev{
						left: 0;
						bottom: 0;
					}
					&.flex-next{
						right: 0;
						bottom: 0;
					}
				}
			}
			figure{
				position: relative;
				figcaption{
					position: absolute;
					z-index: 30;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					padding: 5px;
				}
			}
		}
		@media (max-width: 339px){
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}
.more-mobile{
	text-align: center;
	padding: 3px 10px 14px;
	text-transform: uppercase;
	font: 14px/18px $proxima-nova-bold;
	@media (min-width:($screen-sm)){
		display: none;
	}
	a{
		color: $color-red-03;
	}
}
