/* footer */
#footer{
	border-top: 2px solid $footer-border-color;
	background-color: $footer-bg-color;
	font-size: $footer-font-size;
	line-height: $footer-line-height;
	color: $footer-text-color;
	padding: 13px 0 23px;

	.logo{
		@extend .navbar-brand;
		background: url(#{$base-images-dir}logo-footer.png) no-repeat;
		font-size: 16px;
		padding-left: 40px;
		margin: -1px 0 0;
		color: $link-color;

		&:hover{
			color: darken($link-color, 20%);
		}
		@media (max-width: $screen-md-max){
			margin-bottom: 12px;
		}
	}
	p{
		margin: 0;
	}
	.nav-pills{
		> li{
			+ li{margin-left: 14px;}
			>a{
				padding: 0;
				border-radius: 0;
				&:hover{
					background-color: transparent;
				}

				@media (max-width: $screen-sm-max) {
					padding: 5px -0px;
				}
			}
			@media (max-width: $screen-sm-max) {
				margin-left: 20px;
				+ li{margin-left: 20px;}
			}
		}
		@media (max-width: $screen-sm-max) {
			margin-top: 12px;
			margin-left: -20px;
		}
	}
	.row + .row{
		margin-top: 51px;

		@media (max-width: $screen-md-max) {
			margin-top: 25px;
		}
		@media (max-width: $screen-sm-max) {
			margin-top: 12px;
		}
	}
}