/* info-megamenu */
.info-megamenu{
	margin: 0;
	overflow: hidden;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: $info-megamenu-font-size;
	line-height: $info-megamenu-line-height;
	font-family: $font-family-sans-serif;
	color: $info-megamenu-color;
	min-height: 258px;

	header{
		background-color: $info-megamenu-header-bg;
		font: 12px/16px $proxima-nova-semibold;
		padding: 19px 0 16px;
		margin-bottom: 14px;

		> .container{position: relative;}
		h4{
			margin: -3px 18px 0 0;
			float: left;
			font: 16px/18px $proxima-nova-bold;
		}
		.btn{
			float: left;
			color: $btn-primary-color;
			text-transform: uppercase;
			padding-right: 17px;
			margin: -8px 0 -4px (-$grid-gutter-width / 2);

			@media (max-width: $grid-float-breakpoint-max) {
				margin: ($grid-gutter-width / 2) 0 0;
			}
		}
		.close{
			@include opacity(1);
			position: absolute;
			top: 0;
			right: 12px;
			font-size: 0;
			line-height: 0;
			background: url(#{$base-images-dir}ico-close-video.png) no-repeat;
			width: 21px;
			height: 21px;
			margin: -3px 0 0;
			-webkit-transition: none;
			transition: none;

			&:hover{
				background-position: 0 -21px;
			}
			@media (max-width: $grid-float-breakpoint-max) {
				top: 50%;
				margin-top: -10.5px;
				right: 24px;
			}
		}
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjgyNiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(40,40,38,0) 0%, rgba(40,40,38,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,38,0)), color-stop(100%,rgba(40,40,38,1)));
		background: -webkit-linear-gradient(top,  rgba(40,40,38,0) 0%,rgba(40,40,38,1) 100%);
		background: -o-linear-gradient(top,  rgba(40,40,38,0) 0%,rgba(40,40,38,1) 100%);
		background: -ms-linear-gradient(top,  rgba(40,40,38,0) 0%,rgba(40,40,38,1) 100%);
		background: linear-gradient(to bottom,  rgba(40,40,38,0) 0%,rgba(40,40,38,1) 100%);
		@include opacity(.8);
	}
	.tab-content{
		border-top: 1px solid $info-megamenu-border-color;
		padding: 22px 0;
		min-height: 146px;
	}
	.ttl{
		color: $orange-color;
		font: 60px/60px $proxima-nova-light;
		display: block;
	}
	.heading{
		margin: 5px 0;
		text-transform: uppercase;
		font: 16px/18px $proxima-nova-bold;
	}
	p{margin: 0;}
}