/* more-items */
.more-items{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	font-size: 0;
	line-height: 0;
	z-index: 20;
	@include clearfix;

	> li{
		width: 205px;
		padding: 0 10px 20px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		font: 10px/12px $font-family-sans-serif;
		color: $flex-carousel-color2;

		.box{
			display: block;
			background-color: $flex-carousel-bg;
			border-radius: 0 0 ($border-radius-base - 1) ($border-radius-base - 1);
		}
		> a{
			color: $flex-carousel-color2;
			position: relative;

			&:active,
			&:focus,
			&:hover{
				text-decoration: none;

				figcaption strong{
					color: darken($headline-color, 20%);
				}
				.mask{top: 0;}
			}
			.badge{
				margin: -1px 3px -1px 0;
			}
		}
		&.active {
			margin-bottom: 279px;
			z-index: 5;

			 > a:before{
				content: '';
				position: absolute;
				bottom: -11px;
				left: 50%;
				width: 0;
				height: 0;
				border: solid transparent;
				border-width: 0 10px 6px;
				border-bottom-color: $video-megamenu-heder-bg;
				margin-left: -10px;
			}
			.mask{top: 0;}
		}
		@media (max-width:($screen-lg - 1)){
			width: 20%;
		}
		@media (max-width: $screen-sm-max){
			width: 25%;
		}
		@media (max-width: $grid-float-breakpoint-max){
			width: 33.33%;
		}
		@media (max-width: 560px){
			width: 50%;
		}
		@media (max-width: $screen-xs){
			width: 100%;
		}
	}
	figure{
		margin: 0;
	}
	.img{
		border-bottom: 1px solid #60605c;
		overflow: hidden;
		position: relative;

		img{
			vertical-align: top;
			width: 100%;
		}
		
		a{cursor: pointer;}
	}
	.mask{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 11px 8px;
		color: #fff;
		font-size: 20px;
		line-height: 24px;
		background-image: url(#{$base-images-dir}ico-carousel-mask.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: $gray-light;
		-webkit-transition: top .3s;
		transition: top .3s;

		&.mask-green{background-color: $mask-color-green;}
		&.mask-red{background-color: $mask-color-red;}
		&.mask-pink{background-color: $mask-color-pink;}
		&.mask-blue{background-color: $mask-color-blue;}
	}
	figcaption{
		padding: 6px 7px 10px;

		strong{
			display: block;
			white-space: nowrap;
			overflow: hidden;
			position: relative;
			font-weight: normal;
			font-family: $proxima-nova-bold;
			color: $headline-color;
			font-size: 14px;
			line-height: 18px;

			&:after{
				clear: both;
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 25px;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTJlMmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(left,  rgba(46,46,44,0) 0%, rgba(46,46,44,1) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,46,44,0)), color-stop(100%,rgba(46,46,44,1)));
				background: -webkit-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
				background: -o-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
				background: -ms-linear-gradient(left,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
				background: linear-gradient(to right,  rgba(46,46,44,0) 0%,rgba(46,46,44,1) 100%);
			}
		}
	}
	.year{
		display: block;
		margin-bottom: 6px;
	}
	.video-megamenu{
		position: absolute;
		margin-top: 11px;
		left: 0;
		right: 0;
		z-index: 1000;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}