.search-form{
	width: $search-form-width;

	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group {
		margin-left: 1px;
	}
	position: absolute;
	bottom: 25px;
	left: 50%;
	z-index: 7;
	margin-left: -$search-form-width/2;

	@media (max-width: $screen-md-max) {
		bottom: 10px;
	}
	@media (max-width: $screen-sm-max) {
		margin-left: 0;
		left: 5px;
		right: 5px;
		width: auto;
		&.home-search{
			width: 602px;
		}
	}
	&.home-search{
		.form-control{
			float: left;
			width: 501px;
			-webkit-border-radius: 5px 0 0 5px;
					border-radius: 5px 0 0 5px;
		}
		.btn{
			float: right;
			-webkit-border-radius: 0 5px 5px 0;
					border-radius: 0 5px 5px 0;
			width: 100px;
		}
	}
	.dropdown{
		display: inline-block;
		vertical-align: top;
		margin-left: 1px;

		.btn{
			border-radius: 0;
		}
		&.open{
			.dropdown-toggle{
				&:after{
					background-position: 0 -6px;
				}
			}
		}
	}
	.dropdown-toggle{
		font-family: $font-family-base;
		min-width: 100px;
		position: relative;
		padding-right: 30px;
		text-align: left;

		&:after{
			content: '';
			background: url(#{$base-images-dir}caret-dropdown.png) no-repeat;
			position: absolute;
			top: 50%;
			right: 10px;
			vertical-align: top;
			width: 10px;
			height: 6px;
			margin: -2px 0 0 -5px;
		}
		&:hover:after{
			background-position: 0 -6px;
		}
		@media (max-width: $screen-sm-max){
			width: 100%;
			min-width: 1px;
			padding-right: 24px;
			padding-left: 5px;
		}
	}
	.btn{
		text-transform: none;
		min-height: 40px;
	}
	.btn-primary{
		float: right;
		width: 100px;
		-webkit-border-radius: 0 $border-radius-base $border-radius-base 0;
		border-radius: 0 $border-radius-base $border-radius-base 0;
	}
	.form-control{
		float: left;
		margin: 0;
		width: 501px;
		-webkit-border-radius: $input-border-radius 0 0 $input-border-radius;
		border-radius: $input-border-radius 0 0 $input-border-radius;
		@media (max-width: $grid-float-breakpoint-max){
			width: 191px;
		}
	}
	@media (max-width: $screen-sm-max){
		width: 100%;
		.dropdown-menu{
			min-width: 180px;
			width: 180px;
		}
	}
	@media (max-width: $screen-md-max){
		bottom: 80px;
	}
	@media (max-width:($screen-md - 1)){
		width: 400px;
		bottom: 34px;
		right: 10px;
		left: auto;
		.form-control{
			width: 299px;
		}
	}
	@media (max-width:($screen-sm - 1)){
		display: none;
	}
}