/* video-megamenu */
.video-megamenu{
	background-color: $video-megamenu-bg;
	margin: 0 -60px;
	overflow: hidden;
	position: relative;

	header{
		background-color: $video-megamenu-heder-bg;
		color: $headline-color;
		font: 12px/16px $proxima-nova-semibold;
		padding: 19px 0 16px;
		margin-bottom: 13px;

		> .container{
			position: relative;

			@media (max-width: $grid-float-breakpoint-max) {
				padding-right: 60px;
			}
		}
		h3{
			color: $orange-color;
			margin: -3px 18px 0 0;
			float: left;
			font: 16px/18px $proxima-nova-bold;
		}
		a{
			color: $orange-color;

			&:hover{
				text-decoration: none;
				color: darken($orange-color, 20%);
			}
		}
		.link{float: left;}
		.btn{
			float: left;
			color: $btn-primary-color;
			text-transform: uppercase;
			padding-right: 17px;
			margin: -8px 0 -4px (-$grid-gutter-width / 2);

			&:hover{
				color: $btn-primary-color;
			}
			@media (max-width: $grid-float-breakpoint-max) {
				margin: ($grid-gutter-width / 2) 0 0;
			}
		}
		.close{
			opacity: 1;
			filter:none;
			position: absolute;
			top: 0;
			right: 12px;
			font-size: 0;
			line-height: 0;
			background: url(#{$base-images-dir}ico-close-video.png) no-repeat;
			width: 21px;
			height: 21px;
			margin: -3px 0 0;
			-webkit-transition: none;
			transition: none;

			&:hover{
				background-position: 0 -21px;
			}
		}
	}
	.meta{
		margin: -1px 20px 0 0;
		color: $headline-color;

		li + li{
			$space:10px;
			margin-left: $space;

			&:before{
				background-color: $headline-color;
				left: (-($space /2) - 1);
			}
		}
	}
	.nav{
		@include clearfix;
		font: 12px/16px $proxima-nova-bold;
		border-bottom: 1px solid $video-megamenu-border-color;
		padding-bottom: 5px;
		margin-bottom: 15px;

		li{
			float: left;
		}
		a{
			color: $video-megamenu-nav-color;
			padding: 8px 0;
			min-width: 140px;
			text-align: center;
			-webkit-transition: color .3s, background-color .3s;
			transition: color .3s, background-color .3s;

			&:active,
			&:focus,
			&:hover{
				text-decoration: none;
				background: none;
				color: $video-megamenu-nav-hover-color;
			}
			@media (max-width: $grid-float-breakpoint-max) {
				min-width: 1px;
				padding-left: ($grid-gutter-width / 2);
				padding-right: ($grid-gutter-width / 2);
			}
		}
		.active > a{
			color: $video-megamenu-nav-hover-color;
			border-bottom: 5px solid $orange-color;
			margin-bottom: -5px;
		}
	}
	.tab-content{
		padding-bottom: 20px;
		height: 130px;
		overflow: hidden;
	}
	.opener{
		background: $drop-opener-color;
		color: $alerts-header-opener-color;
		cursor: pointer;
		position: relative;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 1px 0 #595957;
		box-shadow: inset 0 1px 0 #595957;
		text-align: left;
		font-size: 20px;
		line-height: 28px;
		padding: 16px 34px 16px 14px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: 14px;
			margin-top: -3px;
			background: url(#{$base-images-dir}/caret-dropdown.png) no-repeat;
			width: 10px;
			height: 6px;
		}
	}
	@media (max-width: $grid-float-breakpoint-max){
		.nav{
			display: none;
			background: $drop-opener-color;
			padding: 0;
			border-radius: 5px;
			li{
				text-align: left;
				display: block;
				float: none;
				> a{
					padding: 10px 14px;
				}
				&.active,
				&:focus{
					>a{border-bottom: 0;}
				}
			}
		}
		.tabnav{
			padding: 0 15px 13px;
		}
		.tab-content{height: auto;}
		.channels-carousel{
			padding: 0 10px;
			.flex-direction-nav{
				display: none;
			}
			.slides{
				width: auto !important;
				font-size: 0;
				line-height: 0;
				margin: 0 !important;
				> li{
					float: none !important;
					display: inline-block !important;
					vertical-align: top;
					font-size: 11px;
					line-height: 14px;
					width: 33.33% !important;
					margin: 0 !important;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 3px;
				}
			}
		}
		position: relative;
		padding: 0 0 38px;
		header{
			background: none;
			font: 9px/11px $proxima-nova-semibold;
			padding: 19px 0 16px 5px;
			margin-bottom: 15px;
			border-bottom: 1px solid $headline-border-color;
			> .container {
				padding-right: 112px;
				position: static;
				.col-lg-10 {
					position: static;
				}
			}
			h3{
				margin: -3px 18px 0 0;
				float: none;
				font: 14px/16px $proxima-nova-bold;
			}
			.link{
				position: absolute;
				right: 15px;
				top: 22px;
				text-transform: uppercase;
			}
			.close{
				position: absolute;
				width: auto;
				left: 0;
				right: 0;
				bottom: 0;
				height: 44px;
				border-top: 1px solid $headline-border-color;
				top: auto;
				background: none;
				font-size: 11px;
				text-align: center;
				line-height: 14px;
				padding: 15px;
				margin: 0;
				text-shadow:none;
				color: $alerts-header-opener-color;
				font-weight: normal;
				&:hover {
					color: $orange-color;
				}
			}
		}
		.opener{
			&:before{
					content: '';
					position: absolute;
					right: 15px;
					top: 50%;
					border: 7px solid transparent;
					border-top:7px solid #747472;
					margin: -3px 0 0;
					background: none;
					width: auto;
					height: auto;
			}
			&:after {
					content: '';
					position: absolute;
					right: 16px;
					top: 50%;
					border: 6px solid transparent;
					border-top:6px solid #424240;
					margin: -4px 0 0;
			}
		}
	}
	@media (min-width: $grid-float-breakpoint-max + 1) {
		.nav{display: block !important;}
	}
}
.container-space-big .video-megamenu{
	margin-left: -85px;
	margin-right: -85px;
}