/* watch-ways */
.watch-ways{
	padding: 10px 0 22px;
	color: $watch-color;

	.holder{
		border-top: 1px solid $watch-border;
		padding: 7px 0 15px;

		> .container{
			position: relative;
			&.no-relative{
				position: static;
			}
		}
	}
	.close{
		@include opacity(1);
		position: absolute;
		top: -2px;
		right: 12px;
		background: url(#{$base-images-dir}ico-close-holder.png) no-repeat;
		width: 14px;
		height: 14px;
		-webkit-transition: none;
		transition: none;

		&:hover{background-position: 0 -14px;}
	}
	.headline{padding-bottom: 13px;}
	.channels{
		list-style: none;
		padding: 0;
		margin: 0 -5px;
		font-size: 0;
		line-height: 0;

		> li{
			display: inline-block;
			vertical-align: top;
			width: 141px;
			text-align: center;
			font-size: 11px;
			line-height: 14px;
			padding: 5px;

			>a{
				cursor: pointer;
				color: $gray-dark;

				&:hover{
					text-decoration: none;
					color: $orange-color;
				}
			}
			@media (max-width: $screen-md-max){
				width: 158px;
			}
			@media (max-width: $screen-sm-max){
				width: 146px;
			}
			@media (max-width:$grid-float-breakpoint-max){
				width: 20%;
			}
			@media (max-width: 700px){
				width: 25%;
			}
			@media (max-width:$screen-xs){
				width: 33.33%;
			}
		}
		figure{
			border: 1px solid $watch-border;
			border-radius: $border-radius-base;
			-webkit-transition: border-color .3s;
			transition: border-color .3s;

			&:hover{border-color: $orange-color;}
		}
		
		figcaption{
			padding: 7px 5px;
		}
		.cell{
			height: 80px;
			border-bottom: 1px solid $watch-border;
			display: table-cell;
			width: 1%;
			vertical-align: middle;

			> img{
				vertical-align: middle;
				max-width: 100%;

				@media (max-width:$grid-float-breakpoint-max){
					width: 90%;
				}
			}
			.ico{width: 100%;}
		}
	}
	h3{
		margin: 0 0 2px;
		text-transform: uppercase;
		font: 12px/14px $proxima-nova-bold;
	}
	.subhead{
		padding-top: 6px;

		.btn-group{
			float: left;
			margin-right: 30px;

			.btn{
				font-size: 10px;
				line-height: 16.5px;
				font-family: $proxima-nova-semibold;
			}
			.dropdown-toggle{
				min-width: 47px;
				font-size: 12px;
				line-height: 16.5px;
				text-align: left;
				padding-left: 12px;
				padding-right: 20px;

				&:after{
					background: url(#{$base-images-dir}caret-dropdown.png) no-repeat 0 -6px;
					content: '';
					height: 6px;
					margin: -3px 0 0 -5px;
					position: absolute;
					right: 9px;
					top: 50%;
					vertical-align: top;
					width: 10px;
				}
			}
			.dropdown-menu{
				min-width: 100%;
			}
		}
		.nav-tabs{
			float: left;

			@media (max-width: $grid-float-breakpoint-max){
				float: none;
				padding-top: 20px;
				@include clearfix;
				clear: both;
			}
		}
	}
	.episodes{
		padding: 11px 14px 8px;

		@media (max-width: $screen-md-max) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.tab-content{
		.holder{
			padding-bottom: 0;
		}
	}
}