@import "./sass/bootstrap/variables";
body{min-width: 1280px !important;}
.fancybox-overlay{background: url(#{$base-images-dir}fancybox/fancybox_overlay.png);}
.info-block{
	.play{
		background: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ico-play.png',sizingMethod='scale');
	}
	.social-int{
		a{
			background-color: #282624;
			&:after{border-right-color: #282624;}
		}
	}
	.text{
		&:after,
		&:before{
			background: url(#{$base-images-dir}bg-poster-text-ie.png);
		}
	}
	.poster{
		&:after{
			display: none;
		}
		&:before{background: url(#{$base-images-dir}bg-poster-mask02-ie.png);}
	}
	&.open{
		.poster{
			&:after{display: block;}
			&:before{background: url(#{$base-images-dir}bg-poster-mask01-ie.png);}
		}
		.btn-more{
			&:before{
				content: 'X';
				font-size: 20px;
			}
		}
	}
}
.info-megamenu{
	header{
		background-color: $info-megamenu-header-bg-ie;
	}
}
.episodes{
	> li{
		&.active{
			> a:before{
				border-bottom-color: $info-megamenu-header-bg-ie;
			}
		}
	}
}