@import "bootstrap";
@import "fonts";
@import "header";
@import "search-form";
@import "jquery.fancybox";
@import "flex-carousel";
@import "more-items";
@import "channel-carousel";
@import "video-megamenu";
@import "footer";
@import "social";
@import "about";
@import "mixin";
@import "meta-list";
@import "info-block";
@import "watch-ways";
@import "info-megamenu";
@import "episodes";
@import "check-switch";
@import "filter-results";
@import "form";
@import "search-area";
@import "alerts";
@import "alerts-list";
@import "genre-bar";
@import "services-bar";
@import "genre-alerts";
@import "service-alerts";
@import "category-bar";
/* wrapper */
.wrapper{
	position: relative;
	overflow: hidden;
	max-width:$site-width;
	margin:0 auto;
	@include clearfix;
	background-color: $wrapper-bg;
	-webkit-box-shadow:0 0 10px #393937;
			box-shadow:0 0 10px #393937;
}
/* main */
#main{
	background-color: $gray-dark;
	padding-top: 26px;
	padding-bottom: 24px;
	position: relative;
	overflow: hidden;
	@media (max-width:($screen-sm - 1)){
    padding-top: 30px;
   }
}
#main.about-block{
	background-color: $about-main-bg;
	padding-bottom: 0;
	padding-top: 186px;

	@media (max-width: $grid-float-breakpoint-max){
		padding-top: 29%;
	}
}
.container-space-big{
	@media (min-width: $screen-lg) {
		padding-left: 35px;
		padding-right: 35px;
	}
}
/* headline */
.headline{
	text-align: center;
	position: relative;
	color: $headline-color;
	padding-bottom: 33px;
	@media (max-width:($screen-sm - 1)){
    padding-bottom: 11px;
   }

	h2{
		margin: 0;
		font: 20px/26px $proxima-nova-light;
		text-transform: uppercase;
		padding: 0 70px;
		letter-spacing: 3px;
		@media (max-width:($screen-sm - 1)){
		  font-size: 14px;
		  line-height: 18px;
		  padding: 0 10px;
		}
	}
	.more{
		position: absolute;
		right: 0;
		top: 9px;
		font: 12px/14px $proxima-nova-semibold;
		@media (max-width:($screen-sm - 1)){
		  display: none;
		}
	}
}
/* divider */
.divider{
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	background-color: #6d6d6a;
	margin: 0 -30px 35px;
	@media (max-width:($screen-sm - 1)){
      margin: 0 0 29px;
    }
}
/* main-title */
.main-title{
	padding: 102px 0 68px;

	h1{
		margin: 0;
		color: $main-title-color;
		font: 30px/30px $proxima-nova-light;
		text-transform: uppercase;
		letter-spacing: 5px;

		@media (max-width: $screen-xs){
			letter-spacing: 2px;
			font-size: 26px;
			line-height: 26px;
		}
	}
	@media (max-width: $grid-float-breakpoint-max){
    padding: 20px 0 10px;
    h1{
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }
  @media (max-width:($screen-md - 1)){
  	padding-top: 52px;
  }
  @media (max-width:($screen-sm - 1)){
  	padding-top: 20px;
  	&.has-border{
  		border-top: solid 1px $search-border-color;
  	}
  }
}
/* alerts-items */
.alerts-items{
  list-style: none;
  padding: 9px 15px;
  margin: 0;
  font-size: 0;
  line-height: 0;

  > li{
    display: inline-block;
    vertical-align: top;
    width: 205px;
    padding: 10px;

    > figure{

      > img{
        display: block;
        width: 100%;
        margin-bottom: 1px;
      }
    }
    &.active{
      margin-bottom: 241px;

      > figure{
        position: relative;

        &:before{
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          border: solid transparent;
          border-width: 0 10px 6px;
          border-bottom-color: $video-megamenu-heder-bg;
          margin: 1px 0 0 -10px;
        }
      }
      @media (max-width: $screen-sm-max){
        margin-bottom: 256px;
      }
      @media (max-width: 560px){
        margin-bottom: 288px;
      }
      @media (max-width: $screen-xs){
        margin-bottom: 321px;
      }
    }
    @media (max-width:($screen-lg - 1)){
      width: 20%;
    }
    @media (max-width: $screen-sm-max){
      width: 25%;
    }
    @media (max-width: $grid-float-breakpoint-max){
      width: 33.33%;
      padding: 3px;
      &.active{
	      > figure{
	        &:before{
	          border: solid transparent;
	          border-width: 0 10px 10px;
	          border-bottom-color: $header-color;
	          margin: 9px 0 0 -10px;
	        }
	      }
	    }
    }
  }
  .btn-group-vertical{
    width: 100%;

    .btn:first-child:not(:last-child){
      border-radius: 0;
    }
    .btn{
      color: $white-color;
      padding: 9px 15px;
      text-align: left;

      @media (max-width:($screen-lg - 1)){
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: $grid-float-breakpoint-max){
        text-align: center;
       padding: 6px 2px;
        font-size: 9px;
        line-height: 10px;
      }
      .badge{
        background-color: $white-color;
        float: left;
        margin: -1px 15px -1px 0;
        text-align: center;
        
        @media (max-width:($screen-lg - 1)){
          margin-right: 10px;
        }
        @media (max-width: $grid-float-breakpoint-max) {
          display: none;
        }
      }
    }
    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group{margin-top: 0;}
  }
  .btn-info{
    border: none;
    background-color: #2e2e2c;

    &:hover{background-color: darken(#2e2e2c, 10%);}
    .badge{color: #2e2e2c;}
  }
  .video-megamenu{
    position: absolute;
    left: 0;
    right: 0;
    margin: 7px 0 0;
  }
  @media (max-width: $screen-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: $grid-float-breakpoint-max){
	.alerts-items{
		padding-top: 13px;
		.video-megamenu{
			margin: 18px 0 0;
			.channels-carousel {
				.slides {
					> .hidden-xs {
						display: none !important;
					}
				}
			}
	  }
	}
}