.#{$icon-css-prefix}-pin:before { content: '\50'; } /* 'P' */
.#{$icon-css-prefix}-addcalendar:before { content: '\61'; } /* 'a' */
.#{$icon-css-prefix}-pause:before { content: '\62'; } /* 'b' */
.#{$icon-css-prefix}-calendar:before { content: '\63'; } /* 'c' */
.#{$icon-css-prefix}-arrow-down:before { content: '\64'; } /* 'd' */
.#{$icon-css-prefix}-exitfullscreen:before { content: '\65'; } /* 'e' */
.#{$icon-css-prefix}-filter:before { content: '\66'; } /* 'f' */
.#{$icon-css-prefix}-email:before { content: '\67'; } /* 'g' */
.#{$icon-css-prefix}-fullscreen:before { content: '\68'; } /* 'h' */
.#{$icon-css-prefix}-play:before { content: '\69'; } /* 'i' */
.#{$icon-css-prefix}-list:before { content: '\6c'; } /* 'l' */
.#{$icon-css-prefix}-menu:before { content: '\6d'; } /* 'm' */
.#{$icon-css-prefix}-pindot:before { content: '\70'; } /* 'p' */
.#{$icon-css-prefix}-search:before { content: '\73'; } /* 's' */
.#{$icon-css-prefix}-arrow-up:before { content: '\75'; } /* 'u' */
.#{$icon-css-prefix}-eye:before { content: '\76'; } /* 'v' */
.#{$icon-css-prefix}-x:before { content: '\78'; } /* 'x' */