@font-face {
	font-family: 'gowatchit-iconfont';
	src: url('#{$icon-font-path}/gowatchit-iconfont.eot?15320118');
	src: url('#{$icon-font-path}/gowatchit-iconfont.eot?15320118#iefix') format('embedded-opentype'),
		 url('#{$icon-font-path}/gowatchit-iconfont.woff?15320118') format('woff'),
		 url('#{$icon-font-path}/gowatchit-iconfont.ttf?15320118') format('truetype'),
		 url('#{$icon-font-path}/gowatchit-iconfont.svg?15320118#gowatchit-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
